<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="icon" href="../img/favicon.png"></link>

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Head of Application" />
<meta name="author" content="Stevan Todorovic" />

<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">CBB
	Application</title>

<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/new-user.css}" />

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button id="bs-example-navbar-collapse-1" type="button"
					class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">CrossBallBox</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul id="leftNavBar" class="nav navbar-nav">
					<li th:class="${navSection == 'home' ? 'active' : ''}">
					<div th:if="${#authorization.expression('isAuthenticated()')}">
					<div sec:authorize="hasRole('ADMIN')">
						<input id="show" class="btn btn-default navbar-btn navbar-right" type="submit" data-toggle="modal" data-target="#myModal" value="Add User" />
					</div>
					</div></li>
					<li><br></br></li>
					<li th:class="${navSection == 'news' ? 'active' : ''}"><a
						th:href="@{/news}">News</a></li>
					<li><div class="dropdown">
  <button id="drop-down-btn" class="btn-primary dropdown-toggle btn" type="button" data-toggle="dropdown">Programs
  <span class="caret"></span></button>
	<ul class="dropdown-menu">
    <li><a th:href="@{/admin/search?program=TAEBO}">Taebo</a></li>
    <li><a th:href="@{/admin/search?program=crossfit}">Crossfit</a></li>
    <li><a th:href="@{/admin/search?program=aerotonus}">Aerotonus</a></li>
    <li><a th:href="@{/admin/search?program=total50}">Total 50</a></li>
  </ul>
</div>
</li>
				</ul>

				<div th:if="!${#authorization.expression('isAuthenticated()')}">
					<a class="btn btn-default navbar-btn navbar-right"
						sec:authorize="!hasRole('ROLE_USER1')" th:href="@{/login}"
						role="button" id="a">Login</a> 
					<a class="btn btn-default navbar-btn navbar-right"
						sec:authorize="!hasAnyRole('ROLE_USER')" th:href="@{/signUp}"
						role="button">Sign Up</a>
				</div>
				<div th:if="${#authorization.expression('isAuthenticated()')}">
					<ul class="nav navbar-nav navbar-right">
					<li>
<!-- 						<li sec:authorize="hasRole('USER')"> -->
							<table id="top-table" class="top-table">
								<tr>
									<td>
										<div>
											<form th:action="@{/logout}" method="POST">
												<input class="btn btn-default navbar-btn navbar-right"
													type="submit" value="Logout" />
											</form>
										</div>
									</td>
									<td>
										<div>
											<br> </br>
										</div>
									</td>
								</tr>
							</table>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="hasRole('ADMIN')">
							<table id="top-table" class="top-table">
								<tr>
									<td>
										<form th:action="@{/admin/search}" method="GET">
											<input class="search-text" name="search"
												placeholder="Search..." />
										</form>
									</td>
									<td>
										<!--  notifikacije-->
<!-- 										<div class="dropdown"> -->
<!-- 											<a id="dLabel" role="button" data-toggle="dropdown" -->
<!-- 												data-target="#" href="/page.html"> <i -->
<!-- 												class="glyphicon glyphicon-bell"></i> -->
<!-- 											</a> -->

<!-- 											<ul class="dropdown-menu notifications" role="menu" -->
<!-- 												aria-labelledby="dLabel"> -->

<!-- 												<div class="notification-heading"> -->
<!-- 													<h4 class="menu-title">Notifications</h4> -->
<!-- 													<h4 class="menu-title pull-right"> -->
<!-- 														View all<i class="glyphicon glyphicon-circle-arrow-right"></i> -->
<!-- 													</h4> -->
<!-- 												</div> -->
<!-- 												<li class="divider"></li> -->
<!-- 												<div class="notifications-wrapper"> -->
<!-- 													<a class="content" href="#"> -->

<!-- 														<div class="notification-item"> -->
<!-- 															<h4 class="item-title">Evaluation Deadline 1 - day -->
<!-- 																ago</h4> -->
<!-- 															<p class="item-info">Marketing 101, Video Assignment</p> -->
<!-- 														</div> -->

<!-- 													</a> <a class="content" href="#"> -->
<!-- 														<div class="notification-item"> -->
<!-- 															<h4 class="item-title">Evaluation Deadline 1 - day -->
<!-- 																ago</h4> -->
<!-- 															<p class="item-info">Marketing 101, Video Assignment</p> -->
<!-- 														</div> -->
<!-- 													</a>  -->

<!-- 												</div> -->
<!-- 												<li class="divider"></li> -->
<!-- 												<div class="notification-footer"> -->
<!-- 													<h4 class="menu-title"> -->
<!-- 														View all<i class="glyphicon glyphicon-circle-arrow-right"></i> -->
<!-- 													</h4> -->
<!-- 												</div> -->
<!-- 											</ul> -->

<!-- 										</div>  -->
										<!-- kraj za notifikacije -->
									</td>
									<td><a th:href="@{/admin}">Admin</a></td>
									<td>
<!-- 										<div th:if="${#authorization.expression('isAuthenticated()')}"> -->
<!-- 											<form th:action="@{/logout}" method="POST"> -->
<!-- 												<input class="btn btn-default navbar-btn navbar-right" -->
<!-- 													type="submit" value="Logout" /> -->

<!-- 											</form> -->
<!-- 										</div> -->
									</td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container-fluid wrapper">
		<div class="container">
			<div id="successMessage" th:if="${successMessage != null}"
				class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span th:text="${successMessage}"></span>
			</div>
		</div>
		<div layout:fragment="content">
			<h1>Example content</h1>
		</div>
	</div>
	
<!-- 	modal2 -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" id="modal-dialog1">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New User</h4>
        </div>
        <div class="modal-body">
          <form th:action="@{/admin/createNewUser}" method="POST">
          	<input type="text" name="firstName" placeholder="Firstname"/>
          	<input type="text" name="lastName" placeholder="Lastname"/>
          	<input type="text" name="eMail" placeholder="E-Mail"/>
          	<input type="text" name="dateBirth" placeholder="Date Birth"/>
          	<input type="text" name="phoneNumber" placeholder="Phone Number"/>
          	<input type="text" name="trainingProgram" placeholder="Training Program"/>
			<!-- hide/show -->
			<input type="text" name="username" placeholder="Username"/>
			<!-- same password as username -->
<!-- 			<input type="password" name="pass" placeholder="Password"/> -->
			<input type="submit" name="login" class="btn btn-default navbar-btn" value="Add User"/>
		  </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
		
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/user_details.js}"></script>
		<script type="text/javascript" th:src="@{/js/new-user.js}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/table_functions.js}"></script>	

	<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

	<!-- <footer> -->
	<!-- <div id="footer" class="navbar navbar-default">  navbar-fixed-bottom -->
	<!--   <div class="container"> -->
	<!--   	<p style="color: white;">Copyright &copy; 2017 TodCode</p> -->
	<!--   	<p style="color: white;">Contact information: <a href="mailto:steva1988@gmail.com">steva1988@gmail.com</a>.</p> -->
	<!--   </div> -->
	<!--   </div> -->
	<!-- </footer> -->
</body>
</html>