<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>
<title>ContactUs</title>

<style type="text/css">
div#map_container{
	width:100%;
	height:350px;
}
</style>
<script type="text/javascript"
   src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
  function loadMap() {
    var latlng = new google.maps.LatLng(44.013827, 20.90901);
    var myOptions = {
      zoom: 17,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      
    };
    var map = new google.maps.Map(document.getElementById("map_container"),myOptions);
	
    var CBBimage = "/img/locator1.png"
    
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title:"CrossBallBox, Kragujevac, Serbia",
      icon: CBBimage
    });
    
  }
</script>

</head>
<body onload="loadMap()">
	<div layout:fragment="content">
		<div class="container">
			<div>
				<br></br>
			</div>
			<div class="page-header">
				<h2>We are here for you to answer to all of your questions</h2>
			</div>
			<div class="commits list-group">
				<div th:each="commit : ${latestFrameworkCommits}"
					class="list-group-item">
					<img height="50" width="50" th:src="${commit.committer.avatarUrl}" />
					<a
						th:href="'https://github.com/spring-projects/spring-framework/commit/' + ${commit.sha}"
						class="badge" th:text="${#strings.abbreviate(commit.sha, 11)}">deadb33f</a>
					<h4 class="list-group-item-heading" th:text="${commit.message}">Fix
						a Spring Framework issue</h4>
					<p class="list-group-item-text" th:inline="text">Committed by
						[[${commit.committer.name}]]</p>
				</div>
			</div>
			<div class="page-header">
				<h2>3 days left for</h2>
			</div>
			<div class="commits list-group">
				<div th:each="commit : ${latestBootCommits}" class="list-group-item">
					<img height="50" width="50" th:src="${commit.committer.avatarUrl}" />
					<a
						th:href="'https://github.com/spring-projects/spring-boot/commit/' + ${commit.sha}"
						class="badge" th:text="${#strings.abbreviate(commit.sha, 11)}">deadb33f</a>
					<h4 class="list-group-item-heading" th:text="${commit.message}">Fix
						a Spring Framework issue</h4>
					<p class="list-group-item-text" th:inline="text">Committed by
						[[${commit.committer.name}]]</p>
				</div>
			</div>

			<div class="page-header">
				<h2>Yoga with Marina Canovic</h2>
			</div>

			<div class="page-header">
				<h2>Massage center - Relax your body</h2>
			</div>


			  <div id="map_container"></div>
<!--     <script> -->
<!-- //       var googleMap; -->
<!-- //       function initMap() { -->
<!-- //     	  googleMap = new google.maps.Map(document.getElementById('googleMap'), { -->
<!-- //           center: {lat: -34.397, lng: 150.644}, -->
<!-- //           zoom: 8 -->
<!-- //         }); -->
<!-- //       } -->
<!--     </script> -->
<!-- <script type="text/javascript" -->
<!-- 	src="http://maps.googleapis.com/maps/api/js?sensor=false"> -->
<!-- </script> -->

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU;callback=googleMap;"></script> -->

		</div>
	</div>
</body>
</html>