<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <section class="billboard">
        <div class="container">
        <a href="?lang=en">English </a> | <a href="?lang=rs">Serbian </a>
<!--         <h2><spring:message code="user.title"/></h2> -->
            <span>Welcome to CrossBallBox</span>
            <label for="field1" th:text="#{field1}"></label>
        </div>
    </section>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to CrossBallBox!</h1>
            <p>Share your passion</p>
            <p>
            	<input id="show" class="btn btn-primary btn-lg" type="submit" data-toggle="modal" data-target="#myModal" value="Add New Member" /></p>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h2>Training Programs</h2>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Spring Framework</h3>
            </div>
<!--          <div class="panel-body"> -->
<!--                 <img height="70" width="70" th:src="${latestFrameworkCommit.committer.avatarUrl}"/> -->
<!--                 <h3><a th:href="@{/news}" th:text="${latestFrameworkCommit.message}">Fix a Spring Framework issue</a></h3> -->
<!--                 <p th:inline="text">Committed by [[${latestFrameworkCommit.committer.name}]]</p> -->
<!--             </div> -->
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Spring Boot</h3>
            </div>
<!--             <div class="panel-body"> -->
<!--                 <img height="70" width="70" th:src="${latestBootCommit.committer.avatarUrl}"/> -->
<!--                 <h3><a th:href="@{/news}" th:text="${latestBootCommit.message}">Fix a Spring Boot issue</a></h3> -->
<!--                 <p th:inline="text">Committed by [[${latestBootCommit.committer.name}]]</p>  -->
<!--             </div> -->
        </div>
    </div>
</div>
</body>
</html>