<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>
<title>Total50</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			        <section class="days-since-last-polish">
			            <div>
			                <h2><span th:text="${daysSinceLastPolish}">2</span>TOTAL 50</h2>
			                <hr/>
			                <p>Training just become fun!</p>
			            </div>
			        </section>
			<div class="page-header">

				<!-- <div class="col-xs-12" style="height:50px;"></div> -->
				<div class="form-group">&nbsp;</div>
				<h2></h2>
				<h2>TOTAL 50 - accept the challenge</h2>
			</div>
			<div class="commits list-group">
				<div th:each="commit : ${latestFrameworkCommits}"
					class="list-group-item">
					<img height="50" width="50" th:src="${commit.committer.avatarUrl}" />
					<a
						th:href="'https://github.com/spring-projects/spring-framework/commit/' + ${commit.sha}"
						class="badge" th:text="${#strings.abbreviate(commit.sha, 11)}">deadb33f</a>
					<h4 class="list-group-item-heading" th:text="${commit.message}">Fix
						a Spring Framework issue</h4>
					<p class="list-group-item-text" th:inline="text">Committed by
						[[${commit.committer.name}]]</p>
				</div>
			</div>
			<div class="page-header">
				<h2>Improve your body in 3 days per week with professional trainer</h2>
			</div>
			<div class="commits list-group">
				<div th:each="commit : ${latestBootCommits}" class="list-group-item">
					<img height="50" width="50" th:src="${commit.committer.avatarUrl}" />
					<a
						th:href="'https://github.com/spring-projects/spring-boot/commit/' + ${commit.sha}"
						class="badge" th:text="${#strings.abbreviate(commit.sha, 11)}">deadb33f</a>
					<h4 class="list-group-item-heading" th:text="${commit.message}">Fix
						a Spring Framework issue</h4>
					<p class="list-group-item-text" th:inline="text">Committed by
						[[${commit.committer.name}]]</p>
				</div>
			</div>

		</div>
	</div>
</body>
</html>