<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:ddl="http://www.thymeleaf.org/dandelion"
	layout:decorator="layouts/main">
<head>
<title>Search results</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="page-header"></div>
			<table>
				<tr th:each="user : ${userInfo}">
				<td>
					<table class="table">
						<tbody>
							<tr>
								<td rowspan="4" style="width: 25%">
									<div>
										<img id="user_image" height="250" width="230" th:src="@{../userImages/} + ${user.id} +@{.jpg}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="chooseFile()" />
<!-- <img height="250" width="230" th:src="@{../../imagesTest/favicon.png}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="chooseFile()" /> -->
<!-- 										 && !#strings.isEmpty(user.imagePath) -->
<!-- 										<img height="250" width="230" th:src="${(user.imagePath != null) ? user.imagePath : (imagePath != null) ? imagePath : '/img/user_img.png'}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="chooseFile()" /> -->
<!-- 				"@{/images/myImage.png}" 						<img height="250" width="230" th:src="${(image != null) ? imagePath : '/img/user_img.png'}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="chooseFile()" /> -->

									</div>
									
									<div style="height:0px;overflow:hidden">
   										<input type="file" id="imgInput" name="imgInput" />
									</div>
									<div>
		<!-- Upload file form -->
		<form id="upload-file-form" action="/user/upload_image" method="POST">
		<input type="hidden" class="csrfToken" th:value="${_csrf.token}" /> 
		<input type="hidden" class="csrfHeader" th:value="${_csrf.headerName}" />
		<input type="hidden" name="userId" th:value="${user.user.id}" />
		
		<label for="upload-file-input">Upload your file:</label> 
		<input id="upload-file-input" type="file" name="uploadfile" accept=".jpg" />
	</form>

	</div>
		</td>
			<td	th:text="${user.user.firstName} + ' ' + ${user.user.lastName}"></td>
							</tr>
							<tr>
								<td>28.03.1988.</td>
							</tr>
							<tr>
								<td>064/240-15-34</td>
							</tr>
							<tr>
								<td th:text="${user.user.eMail}"></td>
							</tr>
						</tbody>
					</table>
					</td>
				</tr>
			</table>

<form th:action="@{/project_new}" method="post" th:object="${project}">
  	<div class="project-list single">
    	<label for="date-started">Date started:</label>
		 <input type="date" id="date-started"/>
	</div>
</form>

</div>
<div class="container">
	<table class="table table-striped table-hover" id="family_table">
				<thead>
				<tr><td><b>Porodicni podaci</b></td></tr>
					<tr><td>Dijabetis u porodici?</td>
						<td><input type="radio" name="family_diabetis" value="no"/> Ne</td>
  						<td><input type="radio" name="family_diabetis" value="yes"/> Da</td>
						</tr>
						<tr><td>Gojaznost u porodici?</td>
						<td><input type="radio" name="family_obesity" value="no"/> Ne</td>
  						<td><input type="radio" name="family_obesity" value="yes"/> Da</td>
						</tr>
						<tr><td>Kardio/cerebrovaskularne bolesti u porodici?</td>
						<td><input type="radio" name="family_cardio" value="no"/> Ne</td>
  						<td><input type="radio" name="family_cardio" value="yes"/> Da</td>
						</tr>
				</thead>
<!-- 				<tbody> -->
<!-- 					<tr th:each="userAdditionalInfo : ${userInfo.userAdditionalInfo}"> -->
<!-- 						<td th:text="${userAdditionalInfo.watherLiterPerDay}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.timeOfMealPerDay}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.suplementsOrProtein}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.physicalActivityDescription}"></td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
			</table>
</div>
<div class="container">	
			<table class="table table-striped table-hover" id="user_table">
				<thead>
				<tr><td><b>Zdravstveno stanje</b></td></tr>
					<tr><td>Kardio/cerebrovaskularne bolesti?</td>
						<td><input type="radio" name="user_cardio" value="no"/> Ne</td>
  						<td><input type="radio" name="user_cardio" value="yes"/> Da</td>
						</tr>
						<tr><td>Metabolicke bolesti?</td>
						<td><input type="radio" name="user_metabolic" value="no"/> Ne</td>
  						<td><input type="radio" name="user_metabolic" value="yes"/> Da</td>
  						</tr>
						<tr><td>Ostali zdravstveni problemi?</td>
						<td><input type="radio" name="user_other" value="no"/> Ne</td>
  						<td><input type="radio" name="user_other" value="yes"/> Da</td>
  						</tr>
						<tr><td>Da li pijete neku vrstu lekova?</td>
						<td><input type="radio" name="user_medicament" value="no"/> Ne</td>
  						<td><input type="radio" name="user_medicament" value="yes"/> Da</td>
  						</tr>
						<tr><td>Stare ili nove povrede?</td>
						<td><input type="radio" name="user_injuries" value="no"/> Ne</td>
  						<td><input type="radio" name="user_injuries" value="yes"/> Da</td>
  						</tr>
				</thead>
<!-- 				<tbody> -->
<!-- 					<tr th:each="userAdditionalInfo : ${userInfo.userAdditionalInfo}"> -->
<!-- 						<td th:text="${userAdditionalInfo.watherLiterPerDay}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.timeOfMealPerDay}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.suplementsOrProtein}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.physicalActivityDescription}"></td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
			</table>
</div>
<div class="container">			
			<table class="table table-striped table-hover" id="user_additional_table">
				<thead>
				<tr><td><b>Ostali podaci</b></td></tr>
					<tr><td>Koliko puta dnevno jedete?</td>
						<td><input type="text" id="imgInput" name="imgInput" /></td>
						</tr>
						<tr><td>Koliko vode dnevno pijete(l)?</td>
						<td><input type="text" id="imgInput" name="imgInput" /></td>
						</tr>
						<tr><td>Da li pijete neke suplemente/protein?</td>
						<td><input type="text" id="imgInput" name="imgInput" /></td>
						</tr>
						<tr><td>Da li ste fizicki aktivni? Tip treninga?</td>
						<td><input type="text" id="imgInput" name="imgInput" /></td>
						</tr>
				</thead>
<!-- 				<tbody> -->
<!-- 					<tr th:each="userAdditionalInfo : ${userInfo.userAdditionalInfo}"> -->
<!-- 						<td th:text="${userAdditionalInfo.watherLiterPerDay}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.timeOfMealPerDay}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.suplementsOrProtein}"></td> -->
<!-- 						<td th:text="${userAdditionalInfo.physicalActivityDescription}"></td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
			</table>
</div>
<div class="container">			
			<table class="table table-striped table-hover" id="user_progress">
				<thead>
				<tr><td><b>Lista - da se otvara na link sa strelicom na dole</b></td></tr>
<!-- 					<tr> -->
						<tr><td>Telesna Visina(cm)</td></tr>
						<tr><td>Telesna tezina(kg)</td></tr>
						<tr><td>BMI (body mass index)</td></tr>
						<tr><td>% ukupne masnoce</td></tr>
						<tr><td>Viscelarna masnoca</td></tr>
						<tr><td>Obim struka</td></tr>
						<tr><td>Obim butina</td></tr>
<!-- 					</tr> -->
				</thead>
<!-- 				<tbody> -->
<!-- 					<tr th:each="userProgress : ${userInfo.userProgress}"> -->
<!-- 						<td th:text="${userProgress.hight}"></td> -->
<!-- 						<td th:text="${userProgress.weigth}"></td> -->
<!-- 						<td th:text="${userProgress.BMI}"></td> -->
<!-- 						<td th:text="${userProgress.fatPercentage}"></td> -->
<!-- 						<td th:text="${userProgress.viscelar}"></td> -->
<!-- 						<td th:text="${userProgress.waist}"></td> -->
<!-- 						<td th:text="${userProgress.thigh}"></td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
			</table>
		</div>
</div>		
</body>
</html>